[user]
  name = Brandon Conway
  email = brandoncc@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICc1mtp7I4EyrzuLB+6hiupJL4lgatD7jz+rCKxgTJsy
[core]
  excludesfile = /Users/brandoncc/.gitignore_global
  hooksPath = /Users/brandoncc/.git-global-hooks
[mergetool]
  keepBackup = true
[alias]
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[include]
  path = ~/.gitconfig.private
[push]
	default = current
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[rebase]
	updateRefs = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
